<div id="page-wrapper" [formGroup]="optionForm">
  <mat-form-field appearance="fill">
    <mat-label>Hairstyles</mat-label>
    <mat-select formControlName="selectedHairstyles" multiple>
      <mat-option *ngFor="let hairstyle of hairstyles" [value]="hairstyle">{{
        hairstyle.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="optionForm.controls.selectedHairstyles.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Faces</mat-label>
    <mat-select formControlName="selectedFaces" multiple>
      <mat-option *ngFor="let face of faces" [value]="face">{{
        face.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="optionForm.controls.selectedHairstyles.invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="generateScene()">
    Download scene.json
  </button>
</div>
